<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <!-- <a> -->
          {{ site.title }}
        <!-- </a> -->
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}about/">About Me</a>
      <p></p>
      <span class="sidebar-nav-item">My Projects</span>
      {% comment %}
        The code below dynamically generates a sidebar nav of projects with
        `featured: true` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign project_list = site.projects %}
      {% for project in site.projects %}
        {% if project.title != null %}
          {% if project.featured %}
            <a class="sidebar-nav-item{% if page.url == project.url %} active{% endif %}" href="{{ project.url }}">{{ project.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}


      <p></p>
      <span class="sidebar-nav-item">Contact Me</span>
      <a class="sidebar-nav-item" href="mailto:{{ site.email }}">{{site.email}}</a>
      <a class="sidebar-nav-item" href="{{ site.linkedin }}">LinkedIn</a>
      <a class="sidebar-nav-item" href="{{ site.github.profile }}">GitHub</a>
      <!--<span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
